.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.graph {
    margin: auto;
    width: 50%;
    text-align: center;
}

.Automotives {
  background-color: navy;
  color: white;
  width:80%;
  height:40px;
  margin:5px;
}

.Clothing {
  background-color: rgb(124,199,226);
  color: white;
  width:80%;
  height:40px;
  margin:5px;
}

.Electronics {
  background-color: rgb(31,147,153);
  color: white;
  width:80%;
  height:40px;
  margin:5px;
}